<footer class="bg-black bg-opacity-50">
  <section class="container pt-5 pb-2">
    <div class="row g-4">
      <div class="col-12 col-lg-4">
        <div class="text-white lh-1" href="#">
          <a class="navbar-brand fs-4" href="/">
            <span class="fw-900 text-info">DB</span>
            DataBuffet
          </a>
          <p class="mt-3">The data hub that fuels your success</p>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1 disabled fw-bold" aria-disabled="true">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1 disabled fw-bold" aria-disabled="true">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/free-courses?topic=65fd76927bf72f90554818fd">AI Engineering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/free-courses?topic=65fd76937bf72f9055481c3d"
              >Data Engineering</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/free-courses?topic=6621ed5cb08166845ac7cc78"
              >Data Analytics
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1 disabled fw-bold" aria-disabled="true">Career building</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/career-center">Career Paths</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/career-center">Career center</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1 disabled fw-bold" aria-disabled="true">Legal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/privacy-policy">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white p-0 my-1" href="/terms-conditions">Terms & Conditions</a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="opacity-25" />
    <div class="d-flex justify-content-between opacity-25">
      <p class="m-0">© Databuffet. All rights reserved.</p>
      <h4 class="fw-900 m-0">DB</h4>
    </div>
  </section>
</footer>
