<div
  class="modal fade"
  data-bs-theme="dark"
  id="editChapterModal"
  tabindex="-1"
  aria-labelledby="editChapterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-start text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editChapterModalLabel">Rename Chapter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          <input type="hidden" name="course" value="<%=course._id%>" />
          <div>
            <label for="title-input-edit-chapter">Title</label>
            <input type="text" name="title" id="title-input-edit-chapter" class="form-control" required value="" />
          </div>
          <div class="text-end mt-3">
            <button type="button" class="btn btn-sm btn-outline-secondary px-4" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary px-5">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const editChapterModal = document.getElementById("editChapterModal");
  editChapterModal.addEventListener("show.bs.modal", (event) => {
    const button = event.relatedTarget;
    const title = button.getAttribute("data-bs-title");
    const id = button.getAttribute("data-bs-id");
    editChapterModal.querySelector("#title-input-edit-chapter").value = title;
    editChapterModal.querySelector("form").action = `/chapters/${id}?_method=PUT`;
  });
</script>
