<% layout('layouts/boilerplate') -%>
<div class="py-5 text-center">
  <div class="container py-5 my-5">
    <h1 class="text-light text-opacity-25 lh-1 m-0" style="font-size: 20vmin">404</h1>
    <p class="fs-3 fw-light text-secondary lh-1">Page not found.</p>
    <a href="/" class="btn btn-light px-5">Go Back to Home</a>
  </div>
</div>
