<% layout('layouts/boilerplate') -%>
<div class="overflow-hidden">
  <section
    class="bg-img py-5 mvh-100 d-flex flex-column justify-content-center"
    style="background-image: url('/images/bg/bg-about-1.png')"
  >
    <div class="container text-center my-5 py-5">
      <h1 class="display-6 text-info fw-lighter">CONTACT US</h1>
      <h1 class="display-lg fw-900 position-relative">
        Get in touch with us
        <span
          class="rounded-1 d-block w-50 position-absolute end-0 translate-middle-x"
          style="height: 0.7rem; background: linear-gradient(-270deg, transparent 10%, var(--bs-info) 100%)"
        ></span>
      </h1>
      <p class="mt-5 fs-5">
        We are always happy to hear from you and answer any questions you may have about our courses, platform, or
        services. We will get back to you as soon as possible, usually within 24 hours. Thank you for choosing Online
        Video Course as your learning partner.
      </p>
    </div>
  </section>

  <section class="container">
    <div class="position-relative">
      <img
        src="/images/graphics/g1.svg"
        alt="graphics x"
        class="opacity-75 position-absolute start-100 top-0 translate-middle"
        style="width: 15vmin"
      />
      <img
        src="/images/graphics/g3.svg"
        alt="graphics x"
        class="opacity-75 position-absolute start-0 top-100 translate-middle"
        style="width: 15vmin"
      />
      <div class="glass rounded-4 p-5" style="margin-top: -100px; margin-bottom: 100px">
        <h2 class="h1 text-center mb-4">Send your message</h2>
        <form class="row g-4 justify-content-center">
          <div class="col-12 col-lg-6">
            <label for="name-input" class="form-label">Name</label>
            <input type="text" name="name" id="name-input" class="form-control" />
          </div>
          <div class="col-12 col-lg-6">
            <label for="email-input" class="form-label">Email</label>
            <input type="email" name="email" id="email-input" class="form-control" />
          </div>
          <div class="col-12">
            <label for="message-input" class="form-label">Message</label>
            <textarea name="message" id="message-input" class="form-control"></textarea>
          </div>
          <div class="col-12 col-lg-6 col-xl-4 text-center">
            <button type="submit" class="btn btn-lg btn-primary btn-gradient w-100">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<!-- <section class="container fs-4 text-center py-5">
  <p>
    You can also reach us by sending us an email at
    <br />
    <a class="link-info text-decoration-none" href="#">support@onlinevideocourse.com</a>
  </p>
  <p>
    or calling us at
    <br />
    <a class="link-info text-decoration-none" href="#">+1-800-123-4567.</a>
  </p>
</section> -->
